.mini-margin-left {
     margin-left: 5px !important;
}

.card-padding {
     padding: 30px !important;
}

.swal-text {
     text-align: center;
}

.swal-button--confirm {
     background-color: rgb(28, 28, 121) !important;
     color: white !important;
}

.swal-button--cancel {
     background-color: rgb(206, 143, 26) !important;
     color: white !important;
}

.display-none {
     display: none !important;
}